### Global Ignore File for Git
# cspell:disable
#


########## OSX ##########
#########################

*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Root volume system files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# AFP directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


########## Linux ##########
###########################
*~

# Linux trash folder
.Trash-*

# KDE directory preferences
.directory

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*


########## Windows ##########
#############################

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


######## Atom Editor ########
#############################
.atom/.apm*


######## Config Files #######
#############################
home_files/android/*
!home_files/android/repositories.cfg
home_files/gnupg/*
!home_files/gnupg/gpg-agent.conf
home_files/config/*
!home_files/config/atuin
!home_files/config/ghostty
home_files/config/ghostty/ghostty-shaders
!home_files/config/mise
!home_files/config/starship
!home_files/config/starship.toml
!home_files/config/spicetify
!home_files/config/spicetify/config-xpui.ini
!home_files/config/zed
home_files/config/zed/conversations
home_files/config/zed/prompts
home_files/config/zed/themes
!home_files/config/zellij
!home_files/config/iterm2/com.googlecode.iterm2.plist
